*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}

#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    line-height: 200px;
    text-align: center;
    width: 500px;
    height: 200px;
    border: solid black 10px;
    font-size: 70px;
    background-color: fuchsia;
}

.hide-numbers{
    visibility: hidden;
}